<section class="about mt-5">
  <div class="text-center">
    <i class="fas fa-user-alt static-icon"></i><h2>About</h2>
  </div>
  <div class="d-flex flex-column flex-sm-row align-items-center">
    <%= image_tag "ry.png", class: "img-me"%>
    <p>I'm a frontend tech lead based in Tokyo, with <%= Time.now.year - 2021 %>+ years building enterprise-grade B2B and B2C web applications. My bread and butter is JavaScript (<strong>React</strong> and <strong>Vue</strong>) but I still handle backend tasks and questions day to day. My entry to programming was front-end web design, and a background in furniture design and production taught me to enjoy balancing fancifulness with practicality. These days I'm leaning into holistic app-making in the age of AI, and getting into <strong>game development</strong> on the side, exploring Godot through a couple of in-progress titles below.</p>
  </div>
</section>
