<div class="text-center mt-5">
  <h2>About</h2>
  <div class="d-flex flex-column flex-sm-row align-items-center">
    <%= image_tag "ry.png", class: "img-me"%>
    <p>I'm a full-stack web developer, living in Osaka. My entry to programming was through front-end web design, but I quickly realised my enjoyment for algorithmic problem-solving as soon as I ran into Javascript. I have a background in furniture design and production, so I am used to (and revel in) the demands of combining front-end fancifulness with back-end practicality.</p>
  </div>
</div>
