// Define variables for your color scheme

// For example:

$white: #FEFEFE;
$bone: #F5F5F5;
$isabelline: #F4EBE8;
$taupe: #918C8E;
$grey: #5C5552;
$raisin: #2D2D34;
$blue: #3993DD;
$orange: #FC5130;
$rose: #FF5666;
