.card-projects {
  min-height: 100%;
  background-color: $raisin;
  margin: 8px;
  padding: 4px;
  border-radius: 2px;
  box-shadow: 0 1px 4px;
  p {
    margin: 0;
  }
}

.card-projects-title {
  // position: absolute;
  // top: 16px;
  display: flex;
  justify-content: flex-end;
  background-color: $white;
  h3 {
    color: $raisin;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 8px;
    text-shadow: 0 0 1px;
  }
}

.card-projects-img {
  background-color: $isabelline;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
}

.card-projects-tech {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 250px;
  i {
    margin: 4px;
    padding: 4px;
    opacity: 0.9;
    font-size: 1.6rem;
    background-color: $white;
    color: $raisin;
    border-radius: 2px;
  }
}

.card-projects-desc {
  margin: 8px;
  p {
    color: $white;
    font-size: 0.8rem;
    font-weight: lighter;
  }
}
