.container-title {
  display: flex;
  align-items: center;
}

.container-links {
  display: flex;
  margin: 8px;
}

.container-name {
  text-align: center;
  h1 {
    background-color: $raisin;
    color: $bone;
    padding: 2px 8px;
    border-radius: 2px;
  }
}
