body {
  background: rgb(244,235,232);
  background: linear-gradient(0deg, rgba(244,235,232,1) 0%, rgba(245,245,245,1) 40%);
}

strong {
  color: $rose;
  font-weight: normal;
}

a {
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
  }
}

.link-icon {
  color: $raisin;
  font-size: 2rem;
  margin: 0 0.4rem;
  transition: color 400ms ease-in-out, transform 300ms ease-out;
  &:hover {
    color: $rose !important;
    transform: translateY(-1px);
  }
}

.static-icon {
  color: $isabelline;
  font-size: 1.5rem;
  text-shadow: 0 1px 1px $raisin;
}

