body {
  background: rgb(244,235,232);
  background: linear-gradient(0deg, rgba(244,235,232,1) 0%, rgba(245,245,245,1) 40%);
}

h1 {
  background-color: $raisin;
  color: $bone;
  padding: 2px 8px;
  border-radius: 2px;
}

strong {
  color: $rose;
  font-weight: normal;
}

a {
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
  }
}

.link-icon {
  color: $raisin;
  font-size: 2.5rem;
  margin: 8px;
  text-shadow: 0 1px 1px;
  transition: 1s;
  &:hover {
    color: $rose !important;
  }
}

.static-icon {
  color: $isabelline;
  font-size: 1.5rem;
  text-shadow: 0 1px 1px $raisin;
}
