<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="container-name">
      <h1>Ryan Joseph Johnson</h1>
      <h2>Full-Stack Web Developer</h2>
    </div>
  </div>
  <!-- Projects -->
  <%= partial 'partials/projects' %>
</div>
